<ul class="social-menu">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="https://twitter.com/{{ siteMeta.twitterHandle }}" target="_blank" rel="noreferrer">Twitter</a>
  </li>
  <li>
    <a href="https://github.com/{{ siteMeta.githubUser }}" target="_blank" rel="noreferrer">Github</a>
  </li>
  <li>
    <a href="https://linkedin.com/in/{{ siteMeta.linkedinUser }}/" target="_blank" rel="noreferrer">Linkedin</a>
  </li>
</ul>
