@import "./common.scss";
// body {
//   text-transform: lowercase;
// }

.profile-image {
  border-radius: 16%;
  float: right;
  margin: 30px -150px 30px 30px;
  transform: rotate(160deg);
}

.category {
  margin-top: 25px;
  margin-bottom: 10px;
}

.posts {
  list-style: none;
  .post {
    margin-top: 16px;
    line-height: 14px;
    &-date {
      font-size: 12px;
      color: #585858;
      margin-left: 0.5rem;
    }
  }
}

.name {
  color: #253445;
  font-size: large;
  margin-bottom: 5px;
}

p {
  margin: 8px 0;
}

@media (max-width: 425px) {
  .profile-image {
    float: none;
    display: block;
    margin: 30px auto;
  }
}
